html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
figcaption,
figure,
main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details,
menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* end of setup */

/*=====Variables======*/
:root {
    --primaryColor: #cd7300;
    --mainWhite: #fff;
    --mainBackground: #f1f5f8;
}

/* ====== Global Styles ======  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.25rem;
    letter-spacing: 0.2rem;
}
p {
    margin-bottom: 1.25rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--mainBlack);
}
img {
    width: 100%;
    display: block;
}

/* NAV BAR */
.navbar {
    background: var(--mainWhite);
    min-height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primaryColor);
}
.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links a {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
}
.nav-links a:hover {
    color: var(--primaryDarkColor);
}

/* About*/
.about-section {
    /* border: 2px solid red; */
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.about-section p {
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}

/* loading animation */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    left: 46%;
    top: 200px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primaryColor);
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* cocktail */
.cocktails-center {
    /* border: 4px solid green; */
    max-width: 1200;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cocktail {
    /* border: 9px solid red; */
    margin-bottom: 2rem;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    margin: 20px 15px;

    /* width: 200px; */
}
.cocktail:hover {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.cocktail img {
    height: 20rem;
    border-radius: 10px;
}

.cocktail-footer {
    padding: 1.4rem;
}
.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
    margin-bottom: 0.3rem;
}
.cocktail-footer p {
    /* border: 2px solid magenta; */
    font-size: 1.3rem;
    font-weight: 400;
}

/* form styling */
.search {
    margin: 50px 0px;
}
.search-form {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: 20px;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

.form-control label {
    /* border: 2px solid red; */
    width: 100%;
    font-size: 1.4rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: center;
    color: var(--primaryColor);
}
.form-control input {
    border: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 15px 0px;
    border-radius: 20px;
    border: 2px solid var(--primaryColor);
}

/* misc */
.title {
    text-align: center;
    color: var(--primaryColor);
    text-transform: capitalize;
}

/* button */
.btn {
    text-transform: uppercase;
    color: var(--primaryColor);
    font-size: 1.3rem;
    border: 2px solid var(--primaryColor);
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    border-radius: 5px;
    padding: 5px 10px;

    margin-top: 13px;
    font-weight: 400;
}

.btn:hover {
    color: var(--primaryColor);
    background-color: var(--mainWhite);
}

/* single cocktail */
.sc-container {
    /* border: 3px solid magenta; */
    max-width: 500px;
    margin: 50px auto;
    padding: 20px 10px;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}
.sc-container .sc-btn {
    margin-top: 30px;
}
.sc-title {
    /* border: 2px solid green; */
    margin-top: 20px;
}
.sc-drink img {
    border: 4px solid var(--primaryColor);
    border-radius: 15px;
}
.drink-detail {
    margin-top: 30px;
}

.drink-detail p {
    font-size: 1.3rem;
    font-weight: 400;
}

.drink-info {
    /* border: 2px solid red; */
    text-transform: capitalize;
    font-weight: 700;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    padding: 1px 7px 4px 7px;
    border-radius: 5px;
    text-align: center;
}

/* media query */
@media (max-width: 540px) {
    .search-form {
        width: 90%;
    }
    .cocktails-center {
        width: 90%;
    }
    .cocktail {
        min-width: 100%;
    }
    .btn {
        /* border: 2px solid magenta; */
        font-size: 1rem;

        /* padding-left: 0px; */
    }
}
